/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	background-color: white;
	font-family: Roboto;
}
div{
	border: 0px solid Chocolate;
}


.content{
	 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	padding: 0px 15px;
	margin:0 auto; 
	width: 970px;

}

/* Navigation Section */
.navbar {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}


.navbar > .content {

	width: 970px;
	height: 70px;
	margin: auto;

}

.navbar .logo {
	height: 70px;

}

.navbar .links {
	float: right;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	margin-top: 1.7rem;
	-webkit-font-smoothing: antialiased;

}

.navbar .links li {

	display: inline-block;
	margin-left: 25px;
}

.links > li:hover{
	color: #333333;
	cursor: pointer;

}

.navbar .links > .active {
	color: #4c5058;
	font-weight: 500;
}

/* Introduction section*/

.intro {
	background-image: url('../images/first-background.jpg');
	background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    width: 100%;
    overflow: auto;
}

.intro h1,
.intro h3 {
	text-align: center;
	color: white;
	font-weight: 200;
}

.intro h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}
 .intro h3 {
 	margin-top: 1.25rem;
	font-size: 1.563rem;
 }

 .big-button {
 	text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    display: block;
	margin: 0 auto;
	width: 9.688rem;
	background-color: #f15a29;
	font-size: 1.125rem;
	color: white;
	margin-top: 1.25rem;
 }

 .big-button:hover {
 	background-color: #d9400e;
	cursor: pointer;

 }

/* Everyone needs a little Karma section */

.cases h2{
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
	text-align: center;
}

.cases .content {
	margin-top: 7.875rem;
	padding-bottom: 5rem;
}

.cases .devices li{
	width: 33.33% ;
    display: inline-block;
    text-align: center;	
}

.cases img {
	width: 127px;
	height: 127px;
	display: block;
	margin: auto;
}

.cases .devices h3 {
	margin: 2.5rem 0px 1.875rem;
	font-weight: 400;
	font-size: 1.563rem;
}
/* Start of Footer Section*/

.footer {
	text-align: center;

}

.footer li {
	display: inline-block;
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;
	text-align: center;


}

.footer li:hover {

	cursor: pointer;

}

.footer h5 {
	margin-top: 1rem;
}

.twitter {
	color: #55acee;
}

.facebook {
	color: #4c66a4;
}

.instagram {
	color: #3f729b;
}

.footer p {
	color: #838994;
	font-weight: 300;
	font-size: .9rem;
	margin-bottom: 10rem;
}




